@font-face {
    src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
      format("woff2");
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
}

body {
    display: flex;
    justify-content: space-around;
    padding: 100px;
    margin-top: 100px;
    color: #856fc7;
    background-image: url('../imagages/main.png');
    background-color: #ece4e2;
}

.main {
    border: 1px solid #4444;
    background-color: #eaeff9;
    width: 250px;
    height: 320px;
    border-radius: 15px;
    margin: 10px 0 0 10px;
    padding: 10px 10px 10px 10px;
}

p {
    font-family: "Meta";
}

span {
    display: inline-block;
    font-size: 20px;
    margin-top: 8px;
}

.spanfrm {
    width: 1px;
    margin: 0px;
}

.log-frm {
    position: relative;
    margin: 10px 0;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #ccc;
    padding: 10px 0px 5px 0px;
    font-size: 14px;
    width: 100%;
}

.sub-btn, .sign-btn {
    margin-top: 1px;
    padding: 14px;
    color: #856fc7;
    cursor: pointer;
}

.sub-btn:hover, .sign-btn:hover{
    background-color: rgb(183, 168, 254);
    color: rgb(244, 244, 244);
}



